@import "./reset.css";
@import url("https://fonts.cdnfonts.com/css/gilam");
@import url("https://fonts.cdnfonts.com/css/circe");
.body {
  font-family: "Gilam";
}

.header {
  background: #171717;
}

.container {
  margin: 0 auto;
  max-width: 1460px;
}
.header__box {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;}

.header__box_call {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4b564;
  margin-bottom: 120px;
}
.header__box_img {
  padding-left: 26px;
}
.header__box_text {
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #e4b564;
  padding: 10px 25px 10px 10px;
}
.main {
  background-color: #171717;
  padding-bottom: 239px;
}
.title {
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 41px;
}
.main__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 41px;
  max-width: 1182px;
}

.main__services_list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  gap: 27px 30px;
  margin-bottom: 161px;
}
.main__services_jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.main__services_jobs:hover {
  transform: scale(1.05);
}
.main__services_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}
.main__services_jobs:first-child {
  background: #634f2c;
  grid-column: 1 / 3;
}
.main__services_jobs:nth-child(2) {
  background: #b4a385;
  grid-column: 3 / 5;
}
.main__list_jobs:nth-child(2) > .main__services_text {
  width: 380px;
}
.main__services_jobs:nth-child(3) {
  background: #e4b564;
  grid-column: 5 / 7;
}
.main__services_jobs:nth-child(4) {
  background: #635a4a;
  grid-column: 1 / 4;
}
.main__services_jobs:nth-child(5) {
  background: #b08c4d;
  grid-column: 4 / 7;
}
.main__cars {
  margin-bottom: 191px;
}
.main__cars_title {
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 94px;
}
.main__cars_list {
  display: grid;
  grid-template-columns: repeat(3, 467px);
  grid-template-rows: repeat(20, 22px);
  gap: 26px 30px;
}
.main__cars_type {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  padding: 44px 48px;
}
.main__cars_info {
  font-weight: 700;
}

.main__cars_item:nth-child(1) {
  grid-row: 1 / 8;
  background: #0e0e0e;
}
.main__cars_item:nth-child(1) > .main__cars_type {
  font-weight: 400;
  max-width: 302px;
}
.main__cars_item:nth-child(2) {
  background: #1f1f1f;
  grid-row: 8/ 21;
}
.main__cars_item:nth-child(3) {
  background: #242424;
  grid-column: 2 / 3;
  grid-row: 1 / 11;
}
.main__cars_item:nth-child(3) > .main__cars_type {
  font-weight: 400;
  max-width: 430px;
}
.main__cars_item:nth-child(4) {
  background: #e4b564;
  grid-column: 2 / 3;
  grid-row: 11 / 20;
}

.main__cars_item:nth-child(4) > .main__cars_type {
  color: #000000;
}
.main__cars_item:nth-child(5) {
  background: #1f1f1f;
  grid-column: 3 / 4;
  grid-row: 1 / 7;
}
.main__cars_item:nth-child(6) {
  background: #0e0e0e;
  grid-column: 3 / 4;
  grid-row: 7 / 15;
}
.main__cars_item:nth-child(7) {
  background: #0a0909;
  grid-column: 3 / 4;
  grid-row: 15 / 21;
}
.main__cars_item:nth-child(7) > .main__cars_type {
  font-weight: 700;
}

.main__projects {
  background: #0e0e0e;
}
.main__projects_box {
  display: flex;
  justify-content: space-between;
  padding-top: 172px;
  padding-bottom: 61px;
}
.projects__box_title {
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;

}
.projects__box_btn {
  align-self: center;
  font-family: "Circe";
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  border: 1px solid #e4b564;
  padding: 10px 40px;
}
.main__projects_list {
  display: grid;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: repeat(2, 391px);
}
.main__projects_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__project_img {
  padding-bottom: 16px;
}

.main__projects_mavis {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  color: #ffffff;
  max-width: 310px;
  text-align: center;
}
.project_mavis_address {
  font-weight: 400;
}

.main__projects_item:nth-child(1) {
  grid-row: 1 / 2;
  background: #634f2c;
}
.main__projects_item:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background: rgba(232, 210, 171, 0.76);
}
.main__projects_item:nth-child(3) {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background: #e4b564;
}
.main__projects_item:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background: #635a4a;
}
.main__projects_item:nth-child(5) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background: #b08c4d;
}
.main__projects_item:nth-child(6) {
  background: #634f2c;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  background: #634f2c;
}
